Host AnsibleMaster
  HostName 54.166.196.248
  User ubuntu  # Changed from ec2-user
  IdentityFile C:/Users/israe/Downloads/DEVOPS2025/Practice1/DEVOPS-LAB1/Ansible-Lab/ansible-key.pem
  StrictHostKeyChecking no
